@import "../src/styles/global";

$custom: (
        custom:(
                color-primary: #3ccb3a,
                color-primary-light: #4af947,
                color-primary-deep: #31a730,
                color-primary-lighter: #d5f9c9,
                color-success: #3597cb,
                color-success-light: #85cfef,
                color-success-deep: #24678a,
                color-warn: #cb6436,
                color-warn-light: #cb9682,
                color-warn-deep: #a6522c,
                color-error: #cb6596,
                color-error-light: #cba5b4,
                color-error-deep: #954a6e,
                color-info: #751bcb,
                color-info-light: #9d7ccb,
                color-info-deep: #5d15a1,
                color-disabled: #d9d2d5,
                color-disabled-light: #F5F4F3,
                color-disabled-deep: #B0B0AE,
                color-title:#fff,
                background-color:#77d2e6,
                background-color-deep:#5799a8,
                background-color-light:#a8f2ff,
        )
);

@mixin themeify {
  @include pl-theme-wrap($custom) {
    @content;
  }
}